// Define variable defaults
$body-bg: gainsboro;
$body-color: black;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-vue/src/index';

$fade-in-speed: 5s;

.fade-in {
  animation: fadeIn ease $fade-in-speed;
  -webkit-animation: fadeIn ease $fade-in-speed;
  -moz-animation: fadeIn ease $fade-in-speed;
  -o-animation: fadeIn ease $fade-in-speed;
  //noinspection CssUnknownProperty
  -ms-animation: fadeIn ease $fade-in-speed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  //noinspection CssUnknownProperty
  -ms-animation: fadeOut ease 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ********** */
.fade-in-bounce {
  animation: fadeInBounce ease $fade-in-speed;
  -webkit-animation: fadeInBounce ease $fade-in-speed;
  -moz-animation: fadeInBounce ease $fade-in-speed;
  -o-animation: fadeInBounce ease $fade-in-speed;
  //noinspection CssUnknownProperty
  -ms-animation: fadeInBounce ease $fade-in-speed;
  // this has to come at the end, it stops the thing falling back to its original state at the end of the nimation
  animation-fill-mode: forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75%
  }
  100% {
    opacity: 0.25;
  }
}

@-moz-keyframes fadeInBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75%
  }
  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes fadeInBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75%
  }
  100% {
    opacity: 0.25;
  }
}

@-o-keyframes fadeInBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75%
  }
  100% {
    opacity: 0.25;
  }
}

@-ms-keyframes fadeInBounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 75%
  }
  100% {
    opacity: 0.25;
  }
}
